<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="localhost" />
    <add key="User" value="postgres" />
    <add key="DBname" value="fork" />
    <add key="Password_r" value="12345" />
    <add key="Port" value="5432" />
  </appSettings>
</configuration>


